apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "scoutli-microservice.fullname" . }}
  labels:
    {{- include "scoutli-microservice.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "scoutli-microservice.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "scoutli-microservice.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          # Tự động lấy thông tin DB từ Secret scoutli-db-credentials
          envFrom:
            - secretRef:
                name: scoutli-db-credentials
                optional: true 
          resources:
            {{- toYaml .Values.resources | nindent 12 }}